---
import Button from './Button.astro'
import { ASSET_URL } from '../constants'
import { Picture } from 'astro:assets'
import getImageDetails from '../lib/imageHelper'

interface Props {
  heading: string
  buttons?: Array<{
    text: string
    link: string
    newtab?: boolean
  }>
  asset: string
}

const imageDetails = await getImageDetails(Astro.props.asset)
---

<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'

  gsap.registerPlugin(ScrollTrigger)

  const image = document.querySelector('[data-parallax-img]')

  if (image instanceof HTMLElement) {
    const wrapper = image.closest('[data-parallax-wrapper]')

    if (wrapper instanceof HTMLElement) {
      gsap.fromTo(
        image,
        {
          y: () => {
            const diff = image.offsetHeight - wrapper.offsetHeight
            return diff > 0 ? -diff : 0
          },
        },
        {
          y: 0,
          ease: 'sine',
          scrollTrigger: {
            trigger: wrapper,
            start: 'top bottom',
            end: 'bottom top',
            scrub: true,
            invalidateOnRefresh: true,
          },
        }
      )
    }
  }
</script>

<div class="w-full overflow-hidden">
  <div data-parallax-wrapper class="relative bg-glow mx-auto py-48 w-full text-center px-1 overflow-hidden">
    <Picture
      data-parallax-img
      src={ASSET_URL(Astro.props.asset)}
      width={imageDetails.width}
      height={imageDetails.height}
      alt={Astro.props.heading}
      class="absolute inset-0 min-h-full w-full object-cover"
      priority
    />
    <div
      class="absolute inset-0 z-1"
      aria-hidden="true"
      style="
        background: linear-gradient(rgba(61, 57, 53, 0.7), rgba(61, 57, 53, 0.55));
      ">
    </div>
    <div class="relative z-10">
      <p class="heading-2 font-semibold text-glow mb-6">{Astro.props.heading}</p>
      <p class="text-glow-darker text-xl font-400 mx-auto max-w-2xl"><slot /></p>
      <div class="pt-6 gap-2 flex flex-col items-center lg:items-start">
        {
          Astro.props.buttons?.map((button) => (
            <Button link={button.link} newtab={button.newtab}>
              {button.text}
            </Button>
          ))
        }
      </div>
    </div>
  </div>
</div>
