---
import Button from './Button.astro'
import { ASSET_URL, IMAGE_URL } from '../constants'
import getImageDetails from '../lib/imageHelper'
import { Picture } from 'astro:assets'

interface Props {
  heading?: string
  headingImage?: string
  buttons?: Array<{
    text: string
    link: string
    newtab?: boolean
  }>
  image: string
}

const imageDetails = await getImageDetails(Astro.props.image)
---

<div class="flex flex-col items-start mx-auto my-8 lg:my-16 lg:px-24">
  <div class="h-40vh w-95vw lg:w-70vw">
    <Picture
      width={imageDetails.width}
      height={imageDetails.height}
      src={IMAGE_URL(Astro.props.image)}
      layout="full-width"
      class="self-center lg:self-start z-0 aspect-auto object-cover"
      alt=""
      formats={['avif', 'webp', 'jpg']}
    />
  </div>
  <div
    class="bg-glow px-4 lg:px-20 mx-auto lg:mx-initial py-12 lg:justify-self-end lg:self-end mt-4 lg:relative lg:mt--15% w-full lg:max-w-3xl lg:text-left text-center">
    {
      Astro.props.headingImage && (
        <img src={ASSET_URL(Astro.props.headingImage)} alt="Heading Image" class="h-20 mx-auto lg:ml-initial mb-4" />
      )
    }
    {Astro.props.heading && <p class="heading-2 mb-4">{Astro.props.heading}</p>}
    <p class="text-charcoal text-lg font-400 mx-auto lg:mx-initial max-w-2xl"><slot /></p>
    {
      Astro.props.buttons && (
        <div class="pt-6 gap-2 flex flex-col items-center lg:flex-row">
          {Astro.props.buttons?.map((button) => (
            <Button link={button.link} newtab={button.newtab}>
              {button.text}
            </Button>
          ))}
        </div>
      )
    }
  </div>
</div>
