---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Verse from '../../components/Verse.astro'
import LeftImageHero from '../../components/LeftImageHero.astro'
import LargeCard from '../../components/LargeCard.astro'
import { IMAGE_URL } from '../../constants'
import Button from '../../components/Button.astro'
import { getCollection } from 'astro:content'

const locations = await getCollection('locations')

const quote = {
  text: `Just as our bodies have many parts and each part has a special function, so it is with Christ’s body. We are many parts of one body, and we all belong to each other.`,
  reference: 'Romans 12:4-5 (NLT)',
}
const buttons = [
  {
    text: 'Greater Sydney Conference',
    link: 'https://sydney.adventist.org.au/',
    newtab: true,
  },
  {
    text: 'Other GSC Churches',
    link: 'https://sydney.adventist.org.au/locations/',
    newtab: true,
  },
]
---

<BaseLayout>
  <LeftImageHero heading="Our Churches" buttons={buttons} asset="b083e2f1-fd9b-4586-bf65-fcf52a8b9362.jpg"
    >Catering for over 250 members, we have 4 local churches across the Illawarra which work together and with other
    churches and organisations under the Greater Sydney Conference.</LeftImageHero
  >
  <div class="flex flex-col gap-8 px-4">
    {
      locations
        .sort((a, b) => (a.data.sort ?? 1) - (b.data.sort ?? 1))
        .map((location) => (
          <LargeCard
            backgroundUrl={IMAGE_URL(location.data.background)}
            innerClass="text-white bg-charcoal bg-opacity-90">
            <p class="text-4xl lg:text-5xl font-semibold py-2">{location.data.name}</p>
            <p class="text-lg font-medium max-w-2xl">{location.data.overview}</p>
            <Button link={'/locations/' + location.data.slug}>Find out more</Button>
          </LargeCard>
        ))
    }
  </div>
  <Verse text={quote.text} reference={quote.reference} />
</BaseLayout>
